<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Payment of your share for  <%= @bill_name %> has been received</h1>
    <p>
      If you have any questions, please contact the financial administrator of your household.
    </p>
  </body>
</html>
