<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been added as a housemate on RoomiePayUp.com %></h1>
    <p>
      You have been added as a housemate on roomiepayup.com by the financial administrator of your household.
      Roomiepayup is a website to help administrate household finances.
    </p>
    <p>
      When household bills are due, the household administrator will split the amount into shares, assign each share to a housemate and assign a due date to the share.
    </p>
    <p>
      When a share has been assigned to you, you will receive a notification via email.
    </p>
    <p>
      Please render payment, either cash or check in the total amount of the share, to the household financial administrator on or before the due date of the share.
    </p>
    <p>
      If you have any questions, please contact the financial administrator of your household.
    </p>
    <img src="copperplate-s.png"/>
  </body>
</html>
