<div class="col-md-6">
  <h4>Household Members</h4>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
      <tr>
        <% @household_users.each do |user| %>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Add a Housemate", new_household_user_path(@specific_household.id), class: "btn btn-default" %>
</div>
