<% if current_user.nil? %>
  <h1><a href="/auth/twitter">Log In With Twitter</a></h1>
<% else %>
  <h6><%= link_to "Log Out", logout_path %></li>
  <% @households.each do |household| %>
    <h5>Current Households</h5>
    <ul>
      <li><%= link_to "#{household.name}", household_path(household.id) %></li>
    </ul>
  <% end %>
<% end %>
