/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  background-image: url('stockvault-dollars135472.jpg');
  background-size: 1440px 800px;
  display: compact;
}

div {
  background-color: #a4b6ba;
  opacity: 0.95;
  padding: 30px;
  margin: 60px;
}

.dollar-sign {
  margin: 10px;
  display: inline;
}

 .calculator {
   display: inline
 }

.welcome {
  text-align: center;
}
.title {
  font-family: 'Copperplate', serif;
  font-size: 80px;
  margin-top: 20px;
  text-align: center;
}
