<% breadcrumb :root %>

<h4>All Households</h4>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Household</th>
          <th>Bills</th>
        </tr>
        <% @households.each do |household| %>
          <tr>
            <td><%= link_to "#{household.name}", household_path(household.id) %></td>
            <td><%= link_to "View Bills", household_bills_path(household.id), class: "btn btn-default" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div>
  <%= link_to "Create a New Household", new_household_path, class: "btn btn-default" %>
</div>
