<h4>All Households</h4>
<ul>
<% @households.each do |household| %>
  <li><%= "#{household.name} " %><%= link_to "View Details", household_path(household.id), class: "btn btn-default" %>
<% end %>
</ul>
